<ion-header [translucent]="true">
  <ion-toolbar class="background-toolbar">
    <ion-title class="textColor">Ruta</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="this.goBack()">
        <ion-icon name="arrow-back-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
      <ion-item lines="none">
        <ion-label><h1 class="textColor">Título de la ruta</h1></ion-label>
      </ion-item>
      <ion-item>
        <ion-label><h1 style="text-align: center;">{{this.route.title}}</h1></ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label><h1 class="textColor">Nivel del agua</h1></ion-label>
      </ion-item>
      <ion-item>
        <ion-label><h1 style="text-align: center;">{{this.level}}</h1></ion-label>
      </ion-item>
  </div>
</ion-content>