<ion-header [translucent]="true">
  <ion-toolbar class="background-toolbar">
    <ion-title class="textColor">Ruta</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="this.goBack()">
        <ion-icon name="arrow-back-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
      <ion-item lines="none">
        <ion-label>Titulo de la ruta</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{this.route.title}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Nivel del agua</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{this.level}}</ion-label>
      </ion-item>
  </div>
</ion-content>