<ion-header [translucent]="true">
  <ion-toolbar class="background-toolbar">
    <ion-title class="textColor">Editar</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="this.goBack()">
        <ion-icon name="arrow-back-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <form [formGroup]="regist" (ngSubmit)="this.registration()">
      <ion-item>
        <ion-input type="user" formControlName="username" placeholder="Nombre de Usuario"></ion-input>
      </ion-item>
      
      <ion-item>
                <ion-input type="password" formControlName="password" placeholder="Contraseña"></ion-input>
      </ion-item>
      <ion-button type="submit" shape="round" color="danger" [disabled]="!regist.valid">Registrarse</ion-button>
    </form>
  </div>
</ion-content>
