<ion-content> 
<div class="centerText"><h2 class="textColor">BIENVENIDOS</h2></div>
<div class="changeButton">
  <ion-button shape="round" class="background-button" (click)="this.login()">Inicia Sesión<ion-icon name="log-in-outline"></ion-icon></ion-button></div>
  <div class="changeButton"><ion-button shape="round" class="color-register" (click)="this.register()">¿Eres nuevo? ¡Registrate! <ion-icon name="person-add-sharp"></ion-icon></ion-button>
</div>
</ion-content>
<footer><ion-img src="assets/icon/pantanoapp.png"></ion-img></footer>


