<ion-header [translucent]="true">
  <ion-toolbar class="background-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button menu="menu-main"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="this.logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="this.generateQR()">
        <ion-icon name="qr-code"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="textColor">
      Perfil
    </ion-title>
  </ion-toolbar>
  <ion-card color="light">
    <div class="img-wrapper">
      <img src="{{this.usuario.avatar}}" onError="this.onError=null;this.src='assets/icon/usuario.svg';">
    </div>
    <ion-card-content class="ion-text-center">
      <h2 style="margin-top: 5%;" class="textColor">{{this.usuario.username}}</h2>
    </ion-card-content>
  </ion-card>


  <div style="text-align: center; border: none; margin-bottom: 5%;">
    <ion-label>Cambiar avatar</ion-label>
  </div>
  <div style="text-align: center;">
    <ion-button class="background-button">
      <ion-icon name="image"></ion-icon>
      <input type="file" accept="image/*" id="botonAvatar" (change)="onFileSelected($event)">
    </ion-button>
  </div>