<ion-tabs  class="background-tab-bar">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" class="iconos">
      <ion-icon name="home-sharp"></ion-icon>
      <p>Inicio</p>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="iconos">
      <ion-icon name="compass-sharp"></ion-icon>
      <p>Tracker</p>
    </ion-tab-button>

    <ion-tab-button tab="tab5" class="iconos">
      <ion-icon name="people-sharp"></ion-icon>
      <p>Amigos</p>
    </ion-tab-button>

    <ion-tab-button tab="tab4" class="iconos">
      <ion-icon name="person-circle-sharp"></ion-icon>
      <p>Perfil</p>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
