<ion-header [translucent]="true">
  <ion-toolbar class="background-toolbar">
    <ion-segment value="all">
      <ion-segment-button value="parati" class="background-button-toolbar1" (click)='this.pestanaParaTi()'>
        Amigos
      </ion-segment-button>
      <ion-segment-button value="fotos" class="background-button-toolbar" (click)='this.pestanaRutas()'>
        Tú
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf='this.paraTi'>
  <ion-card style="height: 70%; width: 100%;" *ngFor="let Route of this.friendsRoutes; let i=index;">
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{this.Route.avatar}}">
        </ion-avatar>
        <ion-label>{{this.Route.username}}</ion-label>
        <ion-buttons>
          <ion-button>
            <ion-icon slot="end" src="assets/icon/corazon.svg"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
    <div (click)="this.goShowRoute(Route)">
      <ion-card-title style="margin-left: 5%; margin-bottom: 3.5%;"> {{Route.title}}</ion-card-title>
      <app-mapa [attr.id]="i" route="{{i}}" line="{{this.Route.coordinates}}" title="this.title"
        style="position: absolute; height: 50%; width: 100%;">
      </app-mapa>
    </div>
  </ion-card>
</ion-content>

<ion-content [fullscreen]="true" *ngIf='this.rutas'>
  <ion-card style="height: 70%; width: 100%;" *ngFor="let Route of this.routes; let i=index;">
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{this.you.avatar}}">
        </ion-avatar>
        <ion-label>{{this.you.username}}</ion-label>
        <ion-buttons>
          <ion-button (click)="this.editaRuta(Route)">
            <ion-icon slot="end" src="assets/icon/editar.svg"></ion-icon>
          </ion-button>
          <ion-button (click)="this.confirmDelete(Route)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
          <ion-button (click)="this.changeIcon()">
            <ion-icon *ngIf="!this.flagLike" slot="end" src="assets/icon/corazon.svg"></ion-icon>
            <ion-icon *ngIf="this.flagLike" slot="end" src="assets/icon/heart.svg"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
    <div (click)="this.goShowRoute(Route)">
      <ion-card-title style="margin-left: 5%; margin-bottom: 3.5%;"> {{Route.title}}</ion-card-title>
      <app-mapa [attr.id]="i" route="{{i}}" line="{{this.Route.coordinates}}" title="this.title"
        style="position: absolute; height: 50%; width: 100%;">
      </app-mapa>
    </div>
  </ion-card>
</ion-content>