<ion-header [translucent]="true">
  <ion-toolbar class="background-toolbar">
    <ion-buttons slot="end">
      <ion-button (click)="showPopover($event)">
        <ion-icon name="ellipsis-vertical" class="iconos">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="textColor">
      Ruta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="mapa" style="height: 75%; width: 150%;"></div>
  <div class="changeButton">
    <button style="background-color: transparent; max-width: 125px; max-height: 125px;" block (click)="this.changeButton()" >
      <ion-img src="assets/buttons/play.png" *ngIf="this.change"></ion-img>
      <ion-img src="assets/buttons/stop.png" *ngIf="!this.change"></ion-img>
    </button>
  </div>

</ion-content>
