/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//COLORES PREDETERMINADOS.

:root{
    .background-tab-bar{
        --ion-tab-bar-background:rgba(160,0,255,1);
        --ion-tab-bar-color-selected: #ffffff;
    }
    .iconos{
        color:rgb(255, 255, 255);
        }
    .background-toolbar{
        --ion-toolbar-background:linear-gradient(90deg, rgba(255,184,1,1) 0%, rgba(255,121,0,1) 5%, rgba(183,29,193,1) 18%, rgba(170,12,229,1) 62%, rgba(160,0,255,1) 100%);
    }    
    .textColor{
        color:#ffffff;
        text-align: center;
        font-family: appFont;
    }
    .background-button{
        --background:rgba(170,12,229,1);
        color:rgb(255, 255, 255);
        }
    .background-button-toolbar{
        --background:rgba(160,0,255,1);
        --background-checked: rgba(170,12,229,1) 62%;
        color:rgb(255, 255, 255);
        
    }    

    .background-button-toolbar1{
        --background:linear-gradient(90deg, rgba(255,184,1,1) 0%, rgba(255,121,0,1) 5%, rgba(183,29,193,1) 18%, rgba(170,12,229,1) 62%, rgba(160,0,255,1) 100%);
        --background-checked: rgba(170,12,229,1) 62%;
        color:rgb(255, 255, 255);
        
    }  

    ion-card {
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        overflow: visible;
        margin: 16px 0 24px;
        position: relative;
        padding-top: 60px;
        background-color: transparent;
      
        .img-wrapper {
          position: absolute;
          left: 50%;
          top: 0px;
          transform: translateX(-50%);
          img {
            border-radius: 10px;
            width: 80px;
            height: 80px;
          }
      
          
        }
      }

      .changeButton{
        text-align: center;        
    }  

    @font-face {
        font-family: appFont;
        font-style: normal;
        src:url('assets/fonts/appFont.ttf');
    }

    .color-register{
        --background:rgba(255,121,0,1) ;
        color:#ffffff;
    }

    .centerText{
        text-align: center;  
        margin-top: 100px;      
    }  
    
    .fondoWelcome{
        background-color: violet;
    }
      
   
}
